.dog-info {
    display: grid;
    grid-template-rows: repeat(100, 23em);
    grid-template-columns: repeat(4, 13em);
    justify-content: center;
}

.dog-info div {
    border: 1px solid lightgray;
}

.dog-info img {
    margin-top: 1em;
    width: 90%;
    height: 40%;
    object-fit: scale-down;
}