.dog-reg {
    display: grid;
    grid-template-rows: repeat(78, 22em);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

@media (min-width: 470px) {
    .dog-reg {
    display: grid;
    grid-template-rows: repeat(39, 22em);
    grid-template-columns: repeat(2, 13em);
    }
}

@media (min-width: 700px) {
    .dog-reg {
    display: grid;
    grid-template-rows: repeat(26, 22em);
    grid-template-columns: repeat(3, 13em);
    }
}

@media (min-width: 870px) {
    .dog-reg {
    display: grid;
    grid-template-rows: repeat(20, 22em);
    grid-template-columns: repeat(4, 13em);
    }
}

.dog-reg div {
    background-color: var(--color-lightgray);
    margin: 2px;
}

.dog-reg #dog-img {
    margin-top: 1em;
    width: 90%;
    height: 40%;
    object-fit: scale-down;
}

.dog-reg #dog-name {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0px;
}

.dog-reg #dog-breed {
    font-size: 14px;
    color: grey;
    margin: 0px;
}

.dog-reg #more-info {
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 1.8em;
}

.yes {
    color: darkgreen;
}

.no {
    color: darkred;
}