.App {
  text-align: center;
}

.App-header {
  min-width: 100vh;
  background-color:var(--background-color-beige);
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 2vmin);
  color: black
}

.App-header #welcome-text {
  color: var(--color-lightgray);
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 0px;
}

.App-header h1 {
  margin-top: 0px;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.App-main {
  min-height: 100vh;
  min-width: 100vh;
  background-color: var(--background-color-beige);
}
