.App {
  min-width: 100vh;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color:var(--background-color-beige);
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 2vmin);
  color: black
}

.App-header #welcome-text {
  color: var(--color-lightgray);
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 0px;
}

.App-header h1 {
  margin-top: 0px;
  margin-bottom: 3em;
  font-weight: 800;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.App-main {
  background-color: var(--background-color-beige);
  min-height: 100vw;
  padding-bottom: 5em;
}

.App-footer p{
  margin: 0px 0px;
  font-size: 1.2em;
  color: gray;
  background-color: var(--background-color-beige);
  height: 100vh;
}